body {
  background-color: #fff;
  color: #212529;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}

.navbar {
  background-color: #212529;
  padding: 1rem;
  width: 100%;
}

.property__img {
  border: solid;
  object-fit: contain;
  width: 50%;
}

ul.list {
padding: 1rem;
}

.ubication {
  padding-top: 5rem;
  padding-bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ubication__map {
  flex-direction: column;
  display: flex;
  justify-content: left;
  align-items: left;
}

/*List a*/

.list-a {
  display: inline-block;
  line-height: 2;
  padding: 0;
  list-style: none;
}

.list-a li {
  position: relative;
  width: 50%;
  float: left;
  padding-left: 25px;
  padding-right: 5px;
}

.list-a li:before {
  content: '';
  width: 10px;
  height: 2px;
  position: absolute;
  background-color: #313131;
  top: 15px;
  left: 0;
}

/*Title*/

.title-wrap {
  padding-bottom: 4rem;
}

.title-a {
  font-size: 2.6rem;
  font-weight: 600;
}

.title-d {
  padding-top: 2rem;
}

.title-link {
  font-size: 1.2rem;
  font-weight: 300;
  padding-top: 1.2rem;
}

.title-link a {
  color: #313131;
}

.title-link span {
  font-size: 20px;
  padding-left: 4px;
  vertical-align: middle;
}

.title-box-d {
  padding-bottom: 1.8rem;
  margin-bottom: 1rem;
  position: relative;
}

.title-box-d .title-d {
  font-weight: 600;
  font-size: 2rem;
}

.title-box-d .title-d:after {
  content: '';
  position: absolute;
  width: 70px;
  height: 4px;
  background-color: #D3CD17; /*color linea titulos*/
  bottom: 20px;
  left: 0;
}

/*Owl carousel*/

.property-single {
  padding-top: 2rem;
}

.owl-theme .owl-dots {
  text-align: center;
  margin-top: 18px;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
}

.owl-theme .owl-dots .owl-dot span {
  width: 16px;
  height: 9px;
  margin: 5px 5px;
  background: #000000;
  border: 0px solid #000000;
  display: block;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
  border-radius: 0px;
}

.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #212529;
}

.owl-theme .owl-dots .owl-dot.active span {
  background-color: #212529;
  width: 35px;
}

.owl-arrow .owl-nav {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.8rem;
}

.owl-arrow .owl-nav .owl-prev,
.owl-arrow .owl-nav .owl-next {
  display: inline-block;
  transition: all 0.6s ease-in-out;
  color: #000000;
}

.owl-arrow .owl-nav .owl-prev.disabled,
.owl-arrow .owl-nav .owl-next.disabled {
  transition: all 0.6s ease-in-out;
  color: #adadad;
}

.owl-arrow .owl-nav .owl-next {
  margin-left: 15px;
}

.nav-arrow-a .owl-arrow .owl-nav {
  font-size: 1.8rem;
  margin-top: -110px;
}

.nav-arrow-a .owl-arrow .owl-nav .owl-next {
  margin-left: 15px;
}

.nav-arrow-b .owl-arrow .owl-nav {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.2rem;
}

.nav-arrow-b .owl-arrow .owl-nav .owl-prev,
.nav-arrow-b .owl-arrow .owl-nav .owl-next {
  padding: .7rem 1.5rem !important;
  display: inline-block;
  transition: all 0.6s ease-in-out;
  color: #ffffff;
  background-color: #212529;
  opacity: .9;
}

.nav-arrow-b .owl-arrow .owl-nav .owl-prev.disabled,
.nav-arrow-b .owl-arrow .owl-nav .owl-next.disabled {
  transition: all 0.6s ease-in-out;
  color: #ffffff;
}

.nav-arrow-b .owl-arrow .owl-nav .owl-prev:hover,
.nav-arrow-b .owl-arrow .owl-nav .owl-next:hover {
  background-color: #212529;
}

.nav-arrow-b .owl-arrow .owl-nav .owl-next {
  margin-left: 0px;
}

/*CARD-C*/

.card-box-c {
  position: relative;
}

.card-header-c {
  padding: 2rem;
  padding-bottom: 4rem;
}

.card-body-c {
  padding: .5rem;
}

.card-footer-c {
  padding-left: 1rem;
}

.card-box-ico {
  padding: 1rem 10rem 1rem 0rem;
  border: 5px solid #212529;
}

.card-box-ico span {
  font-size: 40px;
  padding-left: 1rem;
  color: #000000;
}

.title-c {
  font-size: 50px;
  font-weight: 600;
  padding-top: 0.5rem;
  margin-left: -150px;
}

.nav-link {
  text-decoration: none;
  color: #212529;
  font-weight: bold;
  font-size: 32px;
  text-align: left;
}

.nav-item {
  padding-top: 2rem;
}

/*FOOTER*/
footer {
  background: #f3f3f3;
  text-align: center;
  padding: 30px 0;
}

.footer__container {
  background-color: #fff;
}



